<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
   <div class="blogs-content">
    <h2>All Blogs</h2>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum eaque dolorem alias. Enim modi adipisci, dolore odio exercitationem sapiente error!</p>
 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, culpa enim. Sapiente atque voluptas iste cupiditate aliquam dolores sint impedit! </p>
 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, corrupti? Minus voluptatem in delectus qui soluta illum officia placeat sed.</p>
   </div>
   <%- include('./partials/footer.ejs')%>
</body>
</html>